## Importing Dependecies

In [10]:
import pandas as pd

<hr>

## Definging Helper Functions

In [26]:
# function for getting all the unique values in a column in a df
def col_unique_val(df,colname):
    uniq_vals = []
    for index,row in df.iterrows():
        for col,value in row.items():
            if col == colname and value not in uniq_vals:
                uniq_vals.append(value)
    return uniq_vals

# function for getting all the values in a row in a df
def row_values(df,row_index):
    values = df.loc[row_index].values
    return values
    
# function to check for rows with NaN values and which row index and columns they are in
def null_rows(df):
    null_rows = df.isnull().any(axis=1)  # identify rows with null values
    null_indexes = null_rows[null_rows].index  # get index of null rows
    if len(null_indexes) == 0:
        print("No rows with null values found.")
    else:
        print(f"Rows with null values (total {len(null_indexes)}):")
        for i in null_indexes:
            print(f"Row {i}: {list(df.columns[df.loc[i].isnull()])}")
            
# function for exporting a df as a csv
def exportCSV(df):
    headerOBJ = df.columns
    header = []
    for item in headerOBJ:
        header.append(item)
        
    filename = input('Please Enter The Name of CSV ->\n')

    # define the desired formatting options
    format_options = {'sep': ';',  # use semicolon as delimiter
                      'index': False,  # don't include index column
                      'float_format': '%.2f',  # format float values to 2 decimal places
                      'header': header,  # rename headers
                      'encoding': 'utf-8'}  # specify encoding type

    # export the dataframe to CSV using the formatting options
    df.to_csv(filename,**format_options)

In [127]:
# NOT USING THIS BLOCK!!!
#First lets find the maximum column for all the rows
'''
with open("YT_datasets_raw/first_crawl/2008_crawl/080727/3.txt", 'r') as temp_f:
    # get No of columns in each line
    col_count = [ len(l.split(",")) for l in temp_f.readlines() ]

### Generate column names  (names will be 0, 1, 2, ..., maximum columns - 1)
column_names = [i for i in range(max(col_count))] 
'''

In [128]:
# Example list of lists
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]

# Get the maximum length of the inner lists
max_len = max(len(lst) for lst in my_list)

# Create a list of column names
cols = [f"col_{i+1}" for i in range(max_len)]

# Create an empty DataFrame with the specified columns
df = pd.DataFrame(columns=cols)

# Populate the DataFrame with the values from the input list
for i, lst in enumerate(my_list):
    # If the inner list is shorter than the maximum length,
    # pad it with None values to match the length of the DataFrame
    if len(lst) < max_len:
        lst = lst + [None] * (max_len - len(lst))
    # Add the values from the inner list to a new row in the DataFrame
    df.loc[i] = lst

# Display the resulting DataFrame
print(df)

   col_1  col_2  col_3  col_4
0    1.0    2.0    3.0    NaN
1    4.0    5.0    6.0    NaN
2    7.0    8.0    9.0   10.0

In [29]:
# read the tab-separated text file into a Pandas DataFrame

# set the variable for the ALL the file paths
# for 2007 -->>
# for 2008 -->>
fpath1 = "YT_datasets_raw/first_crawl/2008_crawl/080725"
fpath2 = "YT_datasets_raw/first_crawl/2008_crawl/080727"
fpath3 = "YT_datasets_raw/first_crawl/2007_crawl/0403"

def folderTOdf(folder_path):
    file_path = folder_path + "/{0}.txt"

    #set the column names
    col_name = ['video ID', 'uploader', 'age', 'category', 'length', 'views', 'rate', 'ratings', 'comments', 'related ID1','related ID2',
                'related ID3','related ID4','related ID5','related ID6','related ID7','related ID8','related ID9','related ID10','related ID11','related ID12',
                'related ID13','related ID14','related ID15','related ID16','related ID17','related ID18','related ID19','related ID20','related ID21',
                'related ID22']

    # loop over the file paths and read each file into a DataFrame

    # for loop for creating df from one entire folder
    df_list = []
    for i in range(4):
        # create the file path string with the variable i
        path = file_path.format(i)
        # read the file into a DataFrame
        df = pd.read_csv(path, delimiter='\t',header = None,names=col_name,low_memory=False)
        df = df.drop(columns=['related ID21','related ID22'])
        df_list.append(df)
    return df_list  #will contain 4 dfs - one for each level of crawl.

In [35]:
# making df
df = folderTOdf(fpath3)
df[1].head(2)

,video ID,uploader,age,category,length,views,rate,ratings,comments,related ID1,...,related ID11,related ID12,related ID13,related ID14,related ID15,related ID16,related ID17,related ID18,related ID19,related ID20
0,-L6tFCeR_ZQ,daniela2c,776.0,Music,249.0,1467.0,4.73,11.0,14.0,W91sqAs-_-g,...,gL3EjCPu-Q4,8Eaj9OZ--K0,_oPYs-LNYGo,f2uBfi4miC8,gJ0I92_1Vt8,n58uchRpgO0,q_U2xh1cHBk,wJaMJ9wgHNc,jDVPJ_7dS3k,w8dpP4uQglk
1,SgHk5JDCdx0,djdavidh,776.0,Music,249.0,1038.0,3.20,5.0,6.0,W91sqAs-_-g,...,_oPYs-LNYGo,GzqvzhpLfIg,f2uBfi4miC8,8Eaj9OZ--K0,mj7mYbHEasI,gJ0I92_1Vt8,n58uchRpgO0,jDVPJ_7dS3k,KizKliQvF_M,w8dpP4uQglk

In [13]:
folderList = [fpath1,fpath2]
folder_df_list = []   # will contain the number of df_lists equal to the number of
# file paths provided.
for path in folderList:
    folder_df_list.append(folderTOdf(path))

## Cleaning the DFs

- Checking for NaN values
- Removing the rows with NaN values in `category` column only

In [37]:
for item in folder_df_list:
    for df in item:
        null_rows(df)
        break
    break

Rows with null values (total 13):
Row 24: ['uploader', 'age', 'category', 'length', 'views', 'rate', 'ratings', 'comments', 'related ID1', 'related ID2', 'related ID3', 'related ID4', 'related ID5', 'related ID6', 'related ID7', 'related ID8', 'related ID9', 'related ID10', 'related ID11', 'related ID12', 'related ID13', 'related ID14', 'related ID15', 'related ID16', 'related ID17', 'related ID18', 'related ID19', 'related ID20']
Row 38: ['related ID17', 'related ID18', 'related ID19', 'related ID20']
Row 41: ['related ID1', 'related ID2', 'related ID3', 'related ID4', 'related ID5', 'related ID6', 'related ID7', 'related ID8', 'related ID9', 'related ID10', 'related ID11', 'related ID12', 'related ID13', 'related ID14', 'related ID15', 'related ID16', 'related ID17', 'related ID18', 'related ID19', 'related ID20']
Row 43: ['related ID1', 'related ID2', 'related ID3', 'related ID4', 'related ID5', 'related ID6', 'related ID7', 'related ID8', 'related ID9', 'related ID10', 'related ID11', 'related ID12', 'related ID13', 'related ID14', 'related ID15', 'related ID16', 'related ID17', 'related ID18', 'related ID19', 'related ID20']
Row 44: ['related ID20']
Row 46: ['related ID1', 'related ID2', 'related ID3', 'related ID4', 'related ID5', 'related ID6', 'related ID7', 'related ID8', 'related ID9', 'related ID10', 'related ID11', 'related ID12', 'related ID13', 'related ID14', 'related ID15', 'related ID16', 'related ID17', 'related ID18', 'related ID19', 'related ID20']
Row 75: ['related ID20']
Row 111: ['uploader', 'age', 'category', 'length', 'views', 'rate', 'ratings', 'comments', 'related ID1', 'related ID2', 'related ID3', 'related ID4', 'related ID5', 'related ID6', 'related ID7', 'related ID8', 'related ID9', 'related ID10', 'related ID11', 'related ID12', 'related ID13', 'related ID14', 'related ID15', 'related ID16', 'related ID17', 'related ID18', 'related ID19', 'related ID20']
Row 151: ['related ID1', 'related ID2', 'related ID3', 'related ID4', 'related ID5', 'related ID6', 'related ID7', 'related ID8', 'related ID9', 'related ID10', 'related ID11', 'related ID12', 'related ID13', 'related ID14', 'related ID15', 'related ID16', 'related ID17', 'related ID18', 'related ID19', 'related ID20']
Row 167: ['related ID1', 'related ID2', 'related ID3', 'related ID4', 'related ID5', 'related ID6', 'related ID7', 'related ID8', 'related ID9', 'related ID10', 'related ID11', 'related ID12', 'related ID13', 'related ID14', 'related ID15', 'related ID16', 'related ID17', 'related ID18', 'related ID19', 'related ID20']
Row 169: ['related ID1', 'related ID2', 'related ID3', 'related ID4', 'related ID5', 'related ID6', 'related ID7', 'related ID8', 'related ID9', 'related ID10', 'related ID11', 'related ID12', 'related ID13', 'related ID14', 'related ID15', 'related ID16', 'related ID17', 'related ID18', 'related ID19', 'related ID20']
Row 179: ['related ID1', 'related ID2', 'related ID3', 'related ID4', 'related ID5', 'related ID6', 'related ID7', 'related ID8', 'related ID9', 'related ID10', 'related ID11', 'related ID12', 'related ID13', 'related ID14', 'related ID15', 'related ID16', 'related ID17', 'related ID18', 'related ID19', 'related ID20']
Row 198: ['related ID1', 'related ID2', 'related ID3', 'related ID4', 'related ID5', 'related ID6', 'related ID7', 'related ID8', 'related ID9', 'related ID10', 'related ID11', 'related ID12', 'related ID13', 'related ID14', 'related ID15', 'related ID16', 'related ID17', 'related ID18', 'related ID19', 'related ID20']

## Exporting the df as CSV

In [38]:
exportCSV(df)

Please Enter The Name of CSV ->
 test.csv

In [60]:
#extract the columns which actually contain the data for the first entry.
colval = df.columns
for item in colval:
    print(item)

ly0dBk7yqYU smosh 1zzzzzComedy
364
415091
4.77
10505
12464
MV95TjaXkX8
vVhSDhDOHh0
jfACnjzXc3o
gkVTdVzoL6A
uWAxLCkpPW4
zzAFEtwIoAw
3iguSOqYAVg
sA2kG2p9INU
MZX0VXLq54w
PawWL2Hml4I
7qM-_ez_5kY
0Ci_GcBeJpU
Wpgeu_dy8zw
U0_CuZHtq_Y
thWS6L1WMiE
Jwzoi05VDts
xqdjb-XkzG4
JYLectcOOi0
PCHG2tIt2RY
v1qkmQPJIcU

In [61]:
#Rename the columns
col_name = ['video ID', 'uploader', 'age', 'category', 'length', 'views', 'rate', 'ratings', 'comments', 'related ID1','related ID2',
            'related ID3','related ID4','related ID5','related ID6','related ID7','related ID8','related ID9','related ID10','related ID11','related ID12',
            'related ID13','related ID14','related ID15','related ID16','related ID17',]
df.columns=col_name
df.head()

,,,video ID,uploader,age,category,length,views,rate,ratings,comments,related ID1,...,related ID8,related ID9,related ID10,related ID11,related ID12,related ID13,related ID14,related ID15,related ID16,related ID17
AknyR-kRvLc,JamesNintendoNerd,1256.0,Comedy,639.0,133590.0,4.89,4159.0,2600.0,rmeMGbJvu9E,aeGBf5lnhhY,vYVGslS0itE,JILwrJWKTAU,...,TpNY3BY8jQk,7M6s1e_O4tI,clXt2ueJAaU,m4WPt9AZY9c,uQdqMfw9iuU,-8g_OTJ6OE8,5rm-FVsBVcI,NCeVW_oevvM,FWRs6X3y310,Lhj1IoVgjn8
49hC9TpP_rY,JohnMcCaindotcom,1257.0,News & Politics,33.0,267795.0,2.38,1017.0,1700.0,mm9IUfPZsX8,Au0eBx05Zxc,4yU2-LTFLf0,Z0cNqtUtufo,...,Fw2KxSWs0hA,gO35AwPtn9o,_1brJ8tuN8w,2hEzGKQLmU4,f2bGDgfHZvQ,gMTSIWXZ8ts,mTSuHweJXxc,f-mdHN24iS0,kD3LTtYXl2A,HqlyqG6tNh0
n7Oxb5kaBBE,charlieissocoollike,1257.0,People & Blogs,175.0,46592.0,4.88,1333.0,1606.0,9_u-sWwyWI8,T6jPQ6Ftesg,rEycXsyVu_U,SQ_HHV8vdAE,...,7sfuJjA1sTs,Q9KQVZVGZrk,CT5tGAu-rPs,tzwKmU3Y59M,g06Ruui5gs4,HPsH0vmTHQw,jk1DSWkCa-U,IaUxVKfuzOc,xYJDSYMT_E4,CipqpMFk2Jk
sb3JbXuTkE8,makemebad35,1258.0,Entertainment,136.0,10367.0,4.86,1381.0,1580.0,v924OISPPpY,Bhi-Dv1ou6s,ETg3OZaTjWA,vHlLnJGOux8,...,UosS4rbn5Ks,yavvUNS4-bI,EA4AIERt83A,gb0eVsg50xM,_UzFrPdP3lc,saSNRofAFVE,s8wt91rs550,V732zA4yZsk,5kC4F86fejc,y5gVGcxrbIw
OJ3XQK_Wvmc,vlogbrothers,1258.0,Howto & Style,227.0,206.0,4.97,312.0,1534.0,ywUYymEQALo,3GeRpsbYYz4,64TAvw6RsGc,HpSZCmGDpH4,...,qM_2ogAxEms,tHpihMsJoYk,_CvykZL334I,7fXGKvu234M,G5skzLS9RGU,cQKjTcVDul0,4K9EEAm8WI0,4R75-_6eQ5I,gMK2x03-tWg,SAnBXO-hpKo

In [63]:
df = df.reset_index()
df = df.drop(columns=['index'])
df.head()

,level_0,level_1,level_2,video ID,uploader,age,category,length,views,rate,...,related ID8,related ID9,related ID10,related ID11,related ID12,related ID13,related ID14,related ID15,related ID16,related ID17
0,AknyR-kRvLc,JamesNintendoNerd,1256.0,Comedy,639.0,133590.0,4.89,4159.0,2600.0,rmeMGbJvu9E,...,TpNY3BY8jQk,7M6s1e_O4tI,clXt2ueJAaU,m4WPt9AZY9c,uQdqMfw9iuU,-8g_OTJ6OE8,5rm-FVsBVcI,NCeVW_oevvM,FWRs6X3y310,Lhj1IoVgjn8
1,49hC9TpP_rY,JohnMcCaindotcom,1257.0,News & Politics,33.0,267795.0,2.38,1017.0,1700.0,mm9IUfPZsX8,...,Fw2KxSWs0hA,gO35AwPtn9o,_1brJ8tuN8w,2hEzGKQLmU4,f2bGDgfHZvQ,gMTSIWXZ8ts,mTSuHweJXxc,f-mdHN24iS0,kD3LTtYXl2A,HqlyqG6tNh0
2,n7Oxb5kaBBE,charlieissocoollike,1257.0,People & Blogs,175.0,46592.0,4.88,1333.0,1606.0,9_u-sWwyWI8,...,7sfuJjA1sTs,Q9KQVZVGZrk,CT5tGAu-rPs,tzwKmU3Y59M,g06Ruui5gs4,HPsH0vmTHQw,jk1DSWkCa-U,IaUxVKfuzOc,xYJDSYMT_E4,CipqpMFk2Jk
3,sb3JbXuTkE8,makemebad35,1258.0,Entertainment,136.0,10367.0,4.86,1381.0,1580.0,v924OISPPpY,...,UosS4rbn5Ks,yavvUNS4-bI,EA4AIERt83A,gb0eVsg50xM,_UzFrPdP3lc,saSNRofAFVE,s8wt91rs550,V732zA4yZsk,5kC4F86fejc,y5gVGcxrbIw
4,OJ3XQK_Wvmc,vlogbrothers,1258.0,Howto & Style,227.0,206.0,4.97,312.0,1534.0,ywUYymEQALo,...,qM_2ogAxEms,tHpihMsJoYk,_CvykZL334I,7fXGKvu234M,G5skzLS9RGU,cQKjTcVDul0,4K9EEAm8WI0,4R75-_6eQ5I,gMK2x03-tWg,SAnBXO-hpKo

In [65]:
#Rename the columns
col_name = ['video ID', 'uploader', 'age', 'category', 'length', 'views', 'rate', 'ratings', 'comments', 'related ID1','related ID2',
            'related ID3','related ID4','related ID5','related ID6','related ID7','related ID8','related ID9','related ID10','related ID11','related ID12',
            'related ID13','related ID14','related ID15','related ID16','related ID17','related ID18','related ID19','related ID20']
df.columns=col_name
df

,video ID,uploader,age,category,length,views,rate,ratings,comments,related ID1,...,related ID11,related ID12,related ID13,related ID14,related ID15,related ID16,related ID17,related ID18,related ID19,related ID20
0,AknyR-kRvLc,JamesNintendoNerd,1256.0,Comedy,639.0,133590.0,4.89,4159.0,2600.0,rmeMGbJvu9E,...,TpNY3BY8jQk,7M6s1e_O4tI,clXt2ueJAaU,m4WPt9AZY9c,uQdqMfw9iuU,-8g_OTJ6OE8,5rm-FVsBVcI,NCeVW_oevvM,FWRs6X3y310,Lhj1IoVgjn8
1,49hC9TpP_rY,JohnMcCaindotcom,1257.0,News & Politics,33.0,267795.0,2.38,1017.0,1700.0,mm9IUfPZsX8,...,Fw2KxSWs0hA,gO35AwPtn9o,_1brJ8tuN8w,2hEzGKQLmU4,f2bGDgfHZvQ,gMTSIWXZ8ts,mTSuHweJXxc,f-mdHN24iS0,kD3LTtYXl2A,HqlyqG6tNh0
2,n7Oxb5kaBBE,charlieissocoollike,1257.0,People & Blogs,175.0,46592.0,4.88,1333.0,1606.0,9_u-sWwyWI8,...,7sfuJjA1sTs,Q9KQVZVGZrk,CT5tGAu-rPs,tzwKmU3Y59M,g06Ruui5gs4,HPsH0vmTHQw,jk1DSWkCa-U,IaUxVKfuzOc,xYJDSYMT_E4,CipqpMFk2Jk
3,sb3JbXuTkE8,makemebad35,1258.0,Entertainment,136.0,10367.0,4.86,1381.0,1580.0,v924OISPPpY,...,UosS4rbn5Ks,yavvUNS4-bI,EA4AIERt83A,gb0eVsg50xM,_UzFrPdP3lc,saSNRofAFVE,s8wt91rs550,V732zA4yZsk,5kC4F86fejc,y5gVGcxrbIw
4,OJ3XQK_Wvmc,vlogbrothers,1258.0,Howto & Style,227.0,206.0,4.97,312.0,1534.0,ywUYymEQALo,...,qM_2ogAxEms,tHpihMsJoYk,_CvykZL334I,7fXGKvu234M,G5skzLS9RGU,cQKjTcVDul0,4K9EEAm8WI0,4R75-_6eQ5I,gMK2x03-tWg,SAnBXO-hpKo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,aSXnUdS7Z1E,PACKimPOTT,1258.0,Music,571.0,20.0,0.00,0.0,0.0,LV0iiZSPENg,...,oF0FZcogdGo,-rTZHzwumtw,qb38LHfntgA,yYi-Ec1osCg,PCIpRpaveoE,PQaZulcMaMc,7UF5F5QmMZE,77sC1TPb3bE,6wuM106EyVg,Tkc7ywt0DlQ
177,wyw-VNitc0g,mayureshbakshi,1258.0,Entertainment,200.0,2.0,0.00,0.0,0.0,vYkKZ04rX3Q,...,XiKGZFX-hcA,5uWctFLkQOQ,JsEyuB25S5g,xl4V4UBM9zQ,0hz6A_aP-nc,cd2DxsxQEuU,vHWlB6tCC6c,OTYPI5bBy5g,nw3leOmp6Jw,okvSba7vdI0
178,-oVQwlDB9Rg,mishekent,1258.0,Comedy,61.0,0.0,0.00,0.0,0.0,7vowfuhjXCg,...,2tJjNVVwRCY,XM3ki-FF-p0,La209OKkUgI,EBSrN-EZYMY,qhmahD_EbHY,kfgrnyv3q1g,3aG5G38GzhU,HtkOLRuAXDY,aAFoNy2-nF8,q1OG0iNKTBo
179,o0logXPc4w0,VideoGame420,1258.0,Gaming,173.0,0.0,0.00,0.0,0.0,aOXmtioEiI4,...,au2ZygipYA0,Kl8EAQnsWag,Cw36yw6BzwI,IUcWRxH9j30,Nwrm3qO_0MU,7cdgWaxucqo,1zod6r_xnqs,1CCTtwH73cA,qpf-kDznwzY,37geO8Aihjs
180,FjOqWqumw9w,nic3824,1258.0,Film & Animation,0.0,0.0,0.00,0.0,0.0,gMsafWZWnBQ,...,qDGrRcMtSk8,BG-vRl1-ufQ,2YkiIGpdRuw,U8RMLsDd4f4,z6FmDwRX-lY,mKCzWWfFHJQ,gu4WlFYpr7g,nuv26EVXUJI,b0p9RMMSNyE,84jZajXB2C8

### Information regarding to the Video-Network dataframe

`VIDEO-ID` : contains a hashcode id for the videos on youtube.An 11-digit string, which is unique <br>
`UPLOADER` : contains the name of the uploader as a string value.<br>
`AGE` : an integer number of days between the date when the video was uploaded and Feb.15, 2007 (YouTube's establishment)<br>
`CATEGORY` : a string of the video category chosen by the uploader<br>
`LENGTH` : an integer number of the video length in seconds _(my deduction)_ <br>
`VIEWS` : an integer number of the views<br>
`RATE` : a float number of the video rate.<br>
`RATING` : an integer number of the ratings<br>
`COMMENTS` : an integer number of the comments.<br>
`RELATED-IDx` : up to 20 strings of the related video IDs. _the related videos are stacked horizontally_<br>

## Reading the User-Info files

In [196]:
#Rename the columns
Ucol_name = ['user ID', 'uploads', 'watches', 'friends']

userfile_path = 'YT_datasets_raw/user-info/0528/user.txt'
df_user = pd.read_csv(userfile_path,delimiter='\t',header = None)
df_user.columns=Ucol_name
df_user

                      user ID  uploads  watches  friends
0                000000000000      2.0   4058.0      0.0
1        00000000000000000Jew     17.0      8.0      0.0
2        0000000000000000bomb     23.0     21.0      0.0
3        0000000000000000hate      4.0     28.0      0.0
4        0000000000000000iran     19.0     13.0      0.0
...                       ...      ...      ...      ...
1062319           zzzzzxzzzzz      5.0     70.0      0.0
1062320            zzzzzz1000      4.0      1.0      0.0
1062321           zzzzzzapata      5.0     60.0      0.0
1062322            zzzzzzzaq1     11.0      2.0      0.0
1062323            zzzzzzzzap     11.0    309.0     13.0

[1062324 rows x 4 columns]

### Information regarding to the User-Info dataframe

`USER-ID` : contains a hashcode id for the users on youtube _1062324 rows_ <br>
`UPLOADS` : contains the number of videos uploaded by the user. _Datatype==Float_<br>
`WATCHES` : contains the times the videos uploaded by the user have been watched.<br>
`FRIENDS` : contains the count of number of added friends of the user on youtube. _Datatype==Float_<br>

In [190]:
#Rename the columns
Uidcol_name = ['user ID']

useridfile_path = 'YT_datasets_raw/user-info/0528/userid.txt'
df_userid = pd.read_csv(useridfile_path,delimiter='\t',header = None)
df_userid.columns=Uidcol_name
df_userid.head()

                user ID
0          000000000000
1  00000000000000000Jew
2  0000000000000000bomb
3  0000000000000000hate
4  0000000000000000iran

In [195]:
#Rename the columns
vidmetacol_name = ['video ID', 'length', 'size', 'bitrate']

useridfile_path = 'YT_datasets_raw/video-size_bitrate/080908sizerate/sizerate.txt'
df_vidmeta = pd.read_csv(useridfile_path,delimiter='\t',header = None)
df_vidmeta.columns=vidmetacol_name
df_vidmeta

           video ID  length        size  bitrate
0       hu28avESP68     281  11163226.0  318.323
1       PmI76gyuWcM     342         NaN      NaN
2       2jldx-Mu5oY      98   3574440.0  294.696
3       N5A1YNfp_Ks      64   2662492.0  334.326
4       4XoZjB3lTfo     241   9760074.0  325.149
...             ...     ...         ...      ...
153705  OzdeFCTFAd4     214   8843285.0  329.231
153706  UhvGdmaL6X0     511  12601143.0  196.038
153707  mgNpMDa5Qbs     465         NaN      NaN
153708  3cMJg4aUAt4      53   2196161.0  324.921
153709  yYsuGx6e0GM      79   2844588.0    284.6

[153710 rows x 4 columns]

### Information regarding to the Video-Meta dataframe

`VIDEO-ID` : contains a hashcode id for the videos _153710 rows_<br>
`LENGTH` : contains the length of the video is seconds<br>
`SIZE` : contains the size of the video in integer number of bytes.<br>
`BITRATE` : contains the video bitrate (double number of kbps)<br>

> <span style='color:red'>CAUTION! </span>
    The df contains NaN values which need to be replaced with some other value or drop those rows.

### Reading the updated video metadata files

In [34]:
pathU = 'YT_datasets_raw/updated_crawl/2008_crawl_u/080903u/update.txt'
col_nameU = ['video ID', 'views', 'rate', 'rating','comments']
dfU = pd.read_csv(pathU, delimiter='\t',header = None,names=col_nameU,low_memory=False)
dfU

           video ID      views  rate  rating  comments
0       gFa1YMEJFag   433756.0  4.66  7256.0    6636.0
1       pSJ4hv28zaI        NaN   NaN     NaN       NaN
2       uHVEDq6RVXc  2334687.0  4.62  8796.0    8717.0
3       K7Om0QZy-38   641524.0  3.86  3450.0    3728.0
4       DCAO6bZa31o   249200.0  3.52   430.0    1752.0
...             ...        ...   ...     ...       ...
161080  iQGMn_iiWZo      152.0  0.00     0.0       1.0
161081  UqS-vWQH7es     2812.0  5.00     4.0       4.0
161082  JepyoDy8Lys     2058.0  5.00     2.0       1.0
161083  CxXD2oT7cps      265.0  5.00     2.0       1.0
161084  AFaH6cRll2I     4925.0  4.83     6.0      10.0

[161085 rows x 5 columns]